@charset "UTF8";


@font-face {
    font-family: 'MoonTime';
    src: url('fonts/MoonTime-Regular.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Intro Rust';
    src: url('fonts/IntroScriptR-H2Base.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Intro Rust Destaque';
    src: url('fonts/IntroRustG-Base2Line.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Intro Rust Padrão';
    src: url('fonts/IntroHeadR-Base.otf') format('opentype');
    font-weight: normal;
}

:root{
    --cor0:#BED95F;
    --cor1:#C7D989;
    --cor2:#D9843B;
    --cor3:#F26835;
    --cor4:#F25835;
    --cor5:#FAFAFA;
    --cor6:#FFFFFF;
    --cor7:#000000;


    --fonte-Titulos: 'MoonTime', cursive;
    --fonte-mão: 'Intro Rust', cursive;
    --fonte-destaque: 'Intro Rust Destaque', cursive;
    --fonte-padrão: 'Intro Rust Padrão', sans-serif;;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor6);
    font-family: var(--font-padrão);
}

header{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor0));
    text-align: center;
    padding-top: 40px;

}

header > img{
    margin: 0px auto 20px auto;
}

header > p{
    font-family: var(--fonte-mão);
    color: var(--cor5);
    font-size: 1.6em;
    font-style: oblique;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.308);
    max-width: 600px;
    padding: 0px 12px 12px 12px;
    margin: auto;
}

nav{
    background-color: var(--cor0);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.096);
    padding: 10px 10px;
}

nav > a{
    color: var(--cor6);
    font-family: var(--fonte-padrão);
    font-weight: bolder;
    font-size: 1.4em;
    padding: 10px;
    margin: 10px 2px;
    text-decoration: none;
    transition: linear;
    transition-duration: 0.5s;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.24);

}

nav >a:hover{
    background-color: var(--cor4);
    border-radius: 10px 10px 0px 0px;
    color: var(--cor6);
}

main{
    background-color:var(--cor5);
    min-width: 300px;
    max-width: 900px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
}


main > section > p{
    font-family: var(--fonte-padrão);
    font-size: 1.3em;
    text-indent: 30px;
    text-align: justify;
    margin-bottom: 20px;
}

main h2{
    font-family: var(--fonte-destaque);
    color: var(--cor4);
    font-size: 1.8em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24);
    margin-bottom: 20px;
}

.hamburgueres{
    text-align: center;
    font-family: var(--fonte-destaque);
    margin-top: 20px;
    margin-bottom: 5px;
    color: #97412A;
    font-size: 1.6em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24);
}

.snacks{
    text-align: center;
    font-family: var(--fonte-destaque);
    margin-top: 20px;
    margin-bottom: 5px;
    color: #3D4928;
    font-size: 1.6em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.301);
}

.lowcarb{
    text-align: center;
    font-family: var(--fonte-destaque);
    margin-top: 20px;
    margin-bottom: 5px;
    color: #8DA966;
    font-size: 1.6em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.212);
}

.churrasco{
    text-align: center;
    font-family: var(--fonte-destaque);
    margin-top: 20px;
    margin-bottom: 5px;
    color: #753D2D;
    font-size: 1.6em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.411);

}
img{
    max-width: 100%;
    display: block;
}

.flex{
    margin: 0px 10px 20px 10px;
    padding: 5px 10px;
}

.flex div{
    display: flex;
    flex-wrap: wrap;
    
}

.flex div > picture{
    background-color: #d9853b25;
    flex: 1 1 320px;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.11);
}

.flex div > picture > img{
    margin: auto;
}

.flex div > picture > p{
    font-family: var(--fonte-destaque);
    font-size: 1.5em;
    font-weight: bolder;
    color: var(--cor4);
    text-align: center;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.048);
}
footer{
    background-color: var(--cor4);
    padding: 35px;
    margin: auto;
    text-align: center;
    font-family: var(--fonte-padrão);
    font-size: 1.3em;
}

footer a{
    text-decoration: none;
    color: var(--cor5);
}

